In [1]:
import numpy as np
from tqdm import tqdm
import pandas as pd

In [3]:
assets = ['XLB', 'XLE', 'XLF', 'XLP', 'XLV', 'XLY']

df = pd.read_csv('C:/Users/kamin/OneDrive/Documents/min/mfe/uiuc/Spring2024/Risk Management/Week4/data.csv', 
                 parse_dates=['Date'], index_col='Date')
df = df.iloc[-500:][assets]
last_prices = np.array([77.68000, 87.47000, 34.20000, 74.55000, 135.85001, 129.16000])

holding_volumn = np.array([30000, 30000, 60000, 30000, 15000, 10000])

asset_val = holding_volumn * last_prices

In [6]:
lambd = 0.94
lambd_weight = [lambd**(i) for i in range(500)][::-1]

df['lambda weight'] = lambd_weight
df

,XLB,XLE,XLF,XLP,XLV,XLY,lambda weight
Date,,,,,,,
2021-01-07,0.007470,0.014681,0.014426,-0.002995,0.013006,0.019291,3.897615e-14
2021-01-08,-0.004813,-0.001206,-0.000646,0.004957,0.004793,0.020619,4.146399e-14
2021-01-11,0.000000,0.015693,0.003234,-0.008520,0.004685,-0.018662,4.411063e-14
2021-01-12,0.012678,0.034942,0.010316,-0.003317,-0.010853,0.015274,4.692620e-14
2021-01-13,-0.010196,-0.007809,-0.000638,0.001513,0.002743,-0.000059,4.992149e-14
...,...,...,...,...,...,...,...
2022-12-23,0.006925,0.031883,0.005628,0.005215,0.000588,0.006846,7.807490e-01
2022-12-27,0.000891,0.010682,-0.000295,0.004789,-0.002572,-0.016225,8.305840e-01
2022-12-28,-0.015269,-0.022389,-0.003536,-0.012444,-0.006483,-0.008403,8.836000e-01
2022-12-29,0.010854,0.010463,0.013897,0.004290,0.010899,0.025740,9.400000e-01
2022-12-30,-0.007031,0.006328,-0.002625,-0.004939,-0.003594,-0.002702,1.000000e+00

In [7]:
cov = []

for i in assets:
    for j in assets:
        cov.append((df[i] * df[j] * df['lambda weight']).sum() * (1-lambd))
cov = pd.DataFrame(np.reshape(cov, (len(assets), len(assets))), index=assets, columns=assets)
cov

          XLB       XLE       XLF       XLP       XLV       XLY
XLB  0.000185  0.000160  0.000134  0.000091  0.000097  0.000170
XLE  0.000160  0.000325  0.000133  0.000084  0.000083  0.000158
XLF  0.000134  0.000133  0.000130  0.000075  0.000083  0.000152
XLP  0.000091  0.000084  0.000075  0.000069  0.000065  0.000088
XLV  0.000097  0.000083  0.000083  0.000065  0.000086  0.000109
XLY  0.000170  0.000158  0.000152  0.000088  0.000109  0.000279

In [9]:
asset_value_vector = asset_val.reshape((1,-1))
0 - 1.645*np.sqrt(asset_value_vector@cov.values@asset_value_vector.T)#Assume: zero expected returns

array([[-228697.74516821]])